In [5]:
# 計算歷時多久(elapsed time)
import datetime
import numpy as np
import pandas as pd

In [6]:
# 建立兩個日期時間序列的資料
rng_hr = pd.date_range("2019-03-05", periods=20, freq="H")
rng_month = pd.date_range("2019-03-05", periods=20, freq="M")
df = pd.DataFrame({"date1": rng_hr, "date2": rng_month})
df.head()

C:\Users\NOU\AppData\Local\Temp\ipykernel_12680\1489815316.py:2: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  rng_hr = pd.date_range("2019-03-05", periods=20, freq="H")
C:\Users\NOU\AppData\Local\Temp\ipykernel_12680\1489815316.py:3: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  rng_month = pd.date_range("2019-03-05", periods=20, freq="M")

                date1      date2
0 2019-03-05 00:00:00 2019-03-31
1 2019-03-05 01:00:00 2019-04-30
2 2019-03-05 02:00:00 2019-05-31
3 2019-03-05 03:00:00 2019-06-30
4 2019-03-05 04:00:00 2019-07-31

In [7]:
# 計算兩個日期變數之間的間隔天數
df["elapsed_days"] = (df["date2"] - df["date1"]).dt.days
df.head()

                date1      date2  elapsed_days
0 2019-03-05 00:00:00 2019-03-31            26
1 2019-03-05 01:00:00 2019-04-30            55
2 2019-03-05 02:00:00 2019-05-31            86
3 2019-03-05 03:00:00 2019-06-30           116
4 2019-03-05 04:00:00 2019-07-31           147

In [8]:
df.shape

(20, 3)

In [9]:
# 計算兩個日期變數之間的間隔週數

df["months_passed"] = (df["date2"] - df["date1"]) / np.timedelta64(1, "W")
df["months_passed"] = np.round(df["months_passed"], 0) 

df.head()

                date1      date2  elapsed_days  months_passed
0 2019-03-05 00:00:00 2019-03-31            26            4.0
1 2019-03-05 01:00:00 2019-04-30            55            8.0
2 2019-03-05 02:00:00 2019-05-31            86           12.0
3 2019-03-05 03:00:00 2019-06-30           116           17.0
4 2019-03-05 04:00:00 2019-07-31           147           21.0

In [10]:
# 計算兩個日期變數之間的間隔秒數與分鐘數

df["diff_seconds"] = (df["date2"] - df["date1"]) / np.timedelta64(1, "s")
df["diff_minutes"] = (df["date2"] - df["date1"]) / np.timedelta64(1, "m")

df.head()

,date1,date2,elapsed_days,months_passed,diff_seconds,diff_minutes
0,2019-03-05 00:00:00,2019-03-31,26,4.0,2246400.0,37440.0
1,2019-03-05 01:00:00,2019-04-30,55,8.0,4834800.0,80580.0
2,2019-03-05 02:00:00,2019-05-31,86,12.0,7509600.0,125160.0
3,2019-03-05 03:00:00,2019-06-30,116,17.0,10098000.0,168300.0
4,2019-03-05 04:00:00,2019-07-31,147,21.0,12772800.0,212880.0

In [11]:
# 與今日差距的時間
df["to_today"] = datetime.datetime.today() - df["date1"]
df.head()

,date1,date2,elapsed_days,months_passed,diff_seconds,diff_minutes,to_today
0,2019-03-05 00:00:00,2019-03-31,26,4.0,2246400.0,37440.0,2246 days 15:40:55.468508
1,2019-03-05 01:00:00,2019-04-30,55,8.0,4834800.0,80580.0,2246 days 14:40:55.468508
2,2019-03-05 02:00:00,2019-05-31,86,12.0,7509600.0,125160.0,2246 days 13:40:55.468508
3,2019-03-05 03:00:00,2019-06-30,116,17.0,10098000.0,168300.0,2246 days 12:40:55.468508
4,2019-03-05 04:00:00,2019-07-31,147,21.0,12772800.0,212880.0,2246 days 11:40:55.468508